appdirs==1.4.2
docker==2.1.0
docker-pycreds==0.2.1
docutils==0.13.1
lockfile==0.12.2
-e git+https://github.com/opentargets/luigi.git@master#egg=luigi
packaging==16.8
pyparsing==2.1.10
python-daemon==2.1.2
requests==2.13.0
six==1.10.0
tornado==4.4.2
websocket-client==0.40.0
